.main-block__container {
  background-image: url("../img/main-block.jpg");
  min-height: 880px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-default-black;

  @media (max-width: $vp-1024) {
    min-height: 640px;
    background-size: 100%;
    background-image: url("../img/main-block-tablet.png");
  }

  @media (max-width: $vp-768) {
    min-height: 490px;
    background-image: url("../img/main-block-mobile.png");
  }
}

.main-block__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
}

.main-block__wrapper {
  z-index: 2;
  position: relative;
  width: 970px;
  margin: auto;
  padding-top: 185px;

  @media (max-width: $vp-1680) {
    width: 65%;
  }

  @media (max-width: $vp-1024) {
    width: 670px;
    padding-top: 80px;
  }

  @media (max-width: $vp-768) {
    width: 84%;
  }
}

.main-block__button span {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.main-block__button {
  position: relative;
  background: #00B2FF;
  border-radius: 3px;
  color: $color-alice-blue;
  width: 410px;
  height: 55px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: $vp-1024) {
    margin-left: 30px;
  }

  @media (max-width: $vp-768) {
    margin: auto;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
}

.main-block__button::before {
  @media (max-width: $vp-768) {
    content: "бесплатная консультация";
    display: block;
    margin: auto;
    font-size: 14px;
    line-height: 16px;
  }
}

.main-block__wrapper p {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 685px;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $color-alice-blue;

  @media (max-width: $vp-1680) {
    width: 100%;
  }

  @media (max-width: $vp-768) {
    font-size: 14px;
  }
}

.main-block__wrapper h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  color: $color-alice-blue;

  @media (max-width: $vp-1024) {
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $vp-768) {
    font-size: 36px;
    line-height: 42px;
  }
}
