.nav {
  z-index: 2;
  position: relative;
  display: flex;

  @media (max-width: $vp-1024) {
    margin-left: auto;
    padding-right: 50px;
  }

  @media (max-width: $vp-768) {
    margin-left: auto;
    padding-right: 18px;
  }
}

.nav__item span {
  @media (max-width: $vp-1024) {
    display: none;
  }
}

.nav__list {
  padding-top: 45px;
  display: grid;
  grid-template-columns: 225px 225px;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: $vp-1280) {
    column-gap: 5px;
  }

  @media (max-width: $vp-1024) {
    grid-template-columns: 40px 40px;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 35px;
  }

  @media (max-width: $vp-768) {
    padding-top: 10px;
  }
}

.nav__item a {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;
  opacity: 0.7;

  @media (max-width: $vp-1024) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav__icon {
  display: block;
  margin-right: 15px;

  @media (max-width: $vp-1024) {
    margin: auto;
  }
}

.nav__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 142px;
  width: 160px;
  height: 40px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: $color-transparent;
  color: $color-alice-blue;
  cursor: pointer;

  @media (max-width: $vp-1600) {
    margin-left: 100px;
  }

  @media (max-width: $vp-1440) {
    margin-left: 70px;
  }

  @media (max-width: $vp-1280) {
    margin-left: 40px;
  }

  @media (max-width: $vp-1024) {
    display: none;
  }
}
